html {
  word-wrap: break-word;
}

body {
  margin: 0;
}

h1, hgroup {
  display: block;
  color: green;
}

hgroup > h1, hgroup > h2, hgroup > h3 {
  margin: 0;
}

hgroup a, h1 a {
  color: inherit;
  text-decoration: none;
}

header.site {
  display: block;
  margin: 0 0 0.5em 0;
  padding: 0.3em;
  background-color: black;
  color: white;
}

header.site h1 {
  float: left;
  margin: 0;
  font-weight: normal;
  font-size: 100%;
  color: inherit;
}

header.site nav {
  display: block;
  margin: 0;
  text-align: right;
}

header.site nav a {
  color: inherit;
}

header.site::after {
  content: "";
  clear: both;
}

footer.site {
  display: block;
  margin: 1em 0 0 0;
  background-color: #eee;
  color: black;
  font-size: 90%;
}

footer.site > ul {
  display: inline-block;
  width: 10em;
  text-align: left;
  vertical-align: top;
}

footer.site > ul > li {
  display: block;
  line-height: 1.5;
}

footer.site a {
  text-decoration: none;
}

footer.site a:hover {
  text-decoration: underline;
}

header.textset {
  position: relative;
}

header.textset hgroup > h1,
header.textset hgroup > h2,
header.textset hgroup > h3 {
  display: inline;
  font-size: 130%;
}

header.textset hgroup h1 code::before {
  content: "<";
}

header.textset hgroup h1 code::after {
  content: ">";
}

header.textset hgroup h2::before {
  content: " - ";
}

header.textset hgroup h3::before {
  content: " - ";
}

header.textset nav {
  position: absolute;
  top: 0;
  right: 0;
}

header.textset nav > button,
header.textset nav > a {
  font-size: 130%;
}

body > section {
  margin: 0.5em;
  min-height: 100vh;
}

.filter {
  display: block;
  width: 100%;
  margin: 0.5em 0;
}

.filter input[name=q] {
  width: 80%;
}

table#texts {
  background-color: #f6fff6;
  border-collapse: collapse;
}

.text-header {
  background-color: #c8ffc8;
}

table#texts > * > tr > th,
table#texts > * > tr > td {
  padding: 0.1rem;
  vertical-align: top;
  width: 10rem;
}

table#texts > thead > tr > th:nth-child(2n+1),
table#texts > tbody > tr > td:nth-child(2n+1) {
  background-color: #ecffec;
}

.text-header > th {
  text-align: left;
  font-weight: normal;
}

table#texts > * > * > th.langs-menu-container {
  width: 1em;
  border-style: hidden;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.langs-menu-container > button {
  
}

.langs-menu-container > menu {
  position: absolute;
  right: 0;
  width: 10em;
  max-width: 100vw;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid #ccc;
  padding: 0.5rem;
  background: white;
  color: black;
  z-index: 10000;
}

thead, tbody, tfoot,
.text-header {
  border-top: 3px green solid;
}

tbody > tr:last-child,
thead, tbody, tfoot {
  border-bottom: 3px green solid;
}

.text-header th {
  position: relative;
}

.text-header th .msgid {
  font-size: 90%;
}

.text-header th .text_id {
  font-size: 80%;
  color: gray;
}

.tags-area:not([hidden]),
.args-area:not([hidden]) {
  display: inline;
  margin: 0 0.5em;
  padding: 0;
  font-size: 90%;
}

.tags-area > strong,
.args-area > strong {
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 100%;
}

.tags-area > strong::after,
.args-area > strong::after {
  content: ": ";
}

.tags-area .tags a {
  margin-right: 0.3em;
  background: #eee;
  border-radius: 0.5em;
  border: #ccc solid 1px;
  text-decoration: none;
  padding: 0.2em 0.3em;
  color: black;
  font-size: 90%;
}

.tags-area .tags a::before {
  font-family: 'LigatureSymbols';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  content: "tag";
  margin-right: 0.3em;
}

.args-area .args {
  margin: 0;
  padding: 0;
}

.args-area .args .arg > code {
  display: inline;
  margin: 0 0 0 0.5em;
  padding: 0;
  color: purple;
}

.args-area .args .arg > .arg_desc {
  display: inline;
  margin: 0 0 0 0.3em;
  padding: 0;
}

.text-header .desc {
  display: block;
  line-height: 1.3;
  font-size: 90%;
}

.text-header .desc:empty {
  display: none;
}

.text-header th > .buttons {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
}

.text-header th > .buttons button {
}

@font-face {
  font-family: 'LigatureSymbols';
  src: url('/fonts/LigatureSymbols.woff') format('woff'),
       url('/fonts/LigatureSymbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lsf-icon::before {
  font-family: 'LigatureSymbols';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  content: attr(data-icon);
  font-size: 120%;
  margin-right: 0.3em;
  line-height: 1.0;
}

button.toggle-edit, button.edit,
button.settings,
a.import,
a.export {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1em;
  border: none;
  padding: 0;
  background: transparent;
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}
button.toggle-edit::before, button.edit::before,
button.settings::before,
a.import::before,
a.export::before {
  font-family: 'LigatureSymbols';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  content: "pen";
  color: black;
}

button.settings::before {
  content: "setting";
}

a.import::before {
  content: "in";
}

a.export::before {
  content: "out";
}

button.toggle-edit.active {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background: white;
}

button.toggle-edit:hover,
button.toggle-edit:active,
button.toggle-edit:hover::before,
button.toggle-edit:active::before,
button.edit:hover,
button.edit:active,
button.edit:hover::before,
button.edit:active::before {
  text-decoration: underline;
}

.buttons {
  margin: 0.5em 0 0;
  text-align: center;
}

.lang-area > .header,
.comments-area > .header {
  display: block;
  margin: 0 0 0.3em 0;
  text-indent: 0;
  font-size: 90%;
  min-height: 1em;
}

.lang-area > .header::after,
.comments-area > .header::after {
  content: "";
  clear: both;
}

.lang-area > .header > strong,
.comments-area > .header > strong {
  float: left;
  font-weight: normal;
  color: gray
}

.lang-area > .header > button,
.comments-area > .header > button {
  float: right;
}

.lang-area .edit p,
.comments-area .edit p {
  margin: 0;
}

.lang-area .edit textarea,
.comments-area .edit textarea {
  box-sizing: content-box;
  width: 9.6rem;
  min-height: 10em;
  margin: 0;
  border: none;
  padding: 0.1rem;
  font-size: 90%;
  font-family: sans-serif;
  line-height: 1.4;
}

.lang-area .edit select,
.comments-area .edit select {
  width: 100%;
}

.lang-area .edit .buttons,
.comments-area .edit .buttons {
  margin-top: 0.3em;
  text-align: right;
}

.lang-area > .view {
  margin: 0;
}

.lang-area > .view p {
  margin: 0;
  padding: 0.1rem;
  background: white;
  color: black;
  line-height: 1.4;
  font-family: sans-serif;
  font-size: 90%;
  min-height: 2rem;
  width: 9.6rem;
}

.comments-area article {
  display: block;
  margin: 0 0 0.3em 0;
  font-size: 90%;
  max-width: 9.5rem;
}

.comments-area.edit-mode article {
  margin-bottom: 0.5em;
}

.comments-area article p {
  margin: 0;
}

.comments-area article footer {
  display: none;
  font-size: 80%;
  color: gray;
  text-align: right;
}

.comments-area.edit-mode article footer {
  display: block;
}

.text-form-tabs:not([hidden]) {
  margin: 0.2em;
  padding: 0 0.2em;
  border-top: gray 1px solid;
  font-size: 80%;
  text-align: left;
}

.text-form-tabs > span:not([hidden]) {
  display: inline-block;
  margin: -1px 0 0.2em 0;
  border: gray 1px;
  border-style: solid;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.2em;
  padding: 0.2em 0.3em;
  min-width: 1em;
  background: #ccc;
  color: gray;
  cursor: pointer;
  text-align: center;
}

.lang-area[data-selected-form] p[data-form] { display: none }
.lang-area[data-selected-form="0"] p[data-form="0"] { display: block }
.lang-area[data-selected-form="1"] p[data-form="1"] { display: block }
.lang-area[data-selected-form="2"] p[data-form="2"] { display: block }
.lang-area[data-selected-form="3"] p[data-form="3"] { display: block }
.lang-area[data-selected-form="4"] p[data-form="4"] { display: block }

.lang-area[data-selected-form="0"] .text-form-tabs > span[data-form="0"],
.lang-area[data-selected-form="1"] .text-form-tabs > span[data-form="1"],
.lang-area[data-selected-form="2"] .text-form-tabs > span[data-form="2"],
.lang-area[data-selected-form="3"] .text-form-tabs > span[data-form="3"],
.lang-area[data-selected-form="4"] .text-form-tabs > span[data-form="4"] {
  border-top-color: transparent;
  color: black;
  background: #eee;
}

.dialog:not([hidden]) {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.dialog > section {
  display: block;
  margin: 1em auto;
  border: 2px solid gray;
  padding: 0.5em;
  width: 50em;
  max-width: 90%;
  background: white;
  color: black;
  box-shadow: gray 5px 5px;
}

.dialog > section > header {
  position: relative;
  margin: 0 0 0.3em 0;
  font-size: 100%;
  border-bottom: 0.1em solid;
  padding: 0 0.3em 0.3em;
}

.dialog > section > header > h1 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 120%;
}

.dialog > section > header > button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.dialog > section form > .buttons button {
  padding: 0.3em;
  min-width: 8em;
}

.config-text form > table {
  margin-left: auto;
  margin-right: auto;
}

.config-text form > table > tbody > tr > th {
  min-width: 8em;
  text-align: right;
  vertical-align: top;
  line-height: 1.5;
}

.config-text form > table > tbody > tr > th::after {
  content: ":\A0";
}

.config-text input {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.config-text input[name=text_id],
.config-text input[name=msgid],
.config-text input[name=desc] {
  width: 40em;
  max-width: 80%;
}

.config-text .tags {
  display: block;
  border: none;
}

.config-text .tags tbody,
.config-text .tags tfoot {
  display: inline;
  border: none;
}

.config-text .tags tr {
  display: inline-block;
  margin-bottom: 0.3em;
  margin-right: 0.3em;
  border: none;
  white-space: nowrap;
}

.config-text .tags th,
.config-text .tags td {
  display: inline;
  border: none;
}

.config-text .tags input {
  width: 10em;
}

.config-text .args tr th {
  min-width: 6em;
  text-align: left;
}

.config-text .args tr th + th {
  min-width: 15em;
}

.config-text input[name=arg_name] {
  width: 5rem;
}

.config-text input[name=arg_desc] {
  width: 15rem;
}

a[rel=help] {
  display: inline-block;
  min-width: 1em;
  text-align: center;
}

progress {
  max-width: 95%;
}