html {
  word-wrap: break-word;
}

body {
  margin: 0;
}

h1, hgroup {
  display: block;
  color: green;
}

hgroup > h1, hgroup > h2, hgroup > h3 {
  margin: 0;
}

hgroup a, h1 a {
  color: inherit;
  text-decoration: none;
}

hr.resizer {
  position: absolute;
  display: block;
  box-sizing: border-box;
  margin: 0;
  border: none;
  border-right: 3px double gray;
  padding: 0;
  cursor: ew-resize;
  background: white;
}

html.resizing {
  -webkit-user-select: none;
}

.resizer-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  cursor: ew-resize;
}

.contextmenu {
  position: absolute;
  right: 0;
  width: 10em;
  max-width: 100vw;
  box-sizing: border-box;
  margin: 0;
  border: 2px outset #ccc;
  padding: 0.5rem;
  background: #eee;
  color: black;
  z-index: 10000;
}

.contextmenu p {
  margin: 0.2em 0;
  line-height: 1.5;
  text-align: left;
}

.contextmenu p > a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.contextmenu p > a:hover {
  text-decoration: underline;
}

header.site {
  position: relative;
  display: block;
  margin: 0 0 0.5em 0;
  padding: 0.3em;
  background-color: black;
  color: white;
  z-index: 100;
}

header.site h1 {
  float: left;
  margin: 0;
  font-weight: normal;
  font-size: 100%;
  color: inherit;
}

header.site nav {
  display: block;
  margin: 0;
  text-align: right;
}

header.site nav a {
  color: inherit;
}

header.site nav * + .login-menu {
  margin-top: 0.3em;
  border-top: groove gray thin;
  padding-top: 0.3em;
}

header.site nav * + .login-menu > .header {
  display: none;
}

header.site .account {
  display: inline-block;
  position: relative;
}

header.site .account .account-menu-button {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 3em;
  border: none;
  padding: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  vertical-align: inherit;
}

header.site .account .account-menu-button::after {
  content: " \25BC";
  font-size: 40%;
}

header.site .account.has-account .login {
  display: none;
}

header.site::after {
  content: "";
  clear: both;
}

footer.site {
  display: block;
  min-height: 15em;
  margin: 1em 0 0 0;
  padding-left: 0.3em;
  background-color: #eee;
  color: black;
  font-size: 90%;
}

footer.site > ul {
  display: inline-block;
  width: 10em;
  text-align: left;
  vertical-align: top;
}

footer.site > ul > li {
  display: block;
  line-height: 1.5;
}

footer.site a {
  text-decoration: none;
}

footer.site a:hover {
  text-decoration: underline;
}

footer.site .credit {
  margin: 1em;
  color: gray;
  font-size: 80%;
  text-align: right;
}

header.textset {
  position: relative;
}

header.textset hgroup > h1,
header.textset hgroup > h2,
header.textset hgroup > h3 {
  display: inline;
  font-size: 130%;
}

header.textset hgroup h1 code::before {
  content: "<";
}

header.textset hgroup h1 code::after {
  content: ">";
}

header.textset hgroup h2::before {
  content: " \25BA  ";
  white-space: pre;
}

header.textset hgroup h3::before {
  content: " \25BA  ";
  white-space: pre;
}

header.textset nav {
  position: absolute;
  top: 0;
  right: 0;
}

header.textset nav > button,
header.textset nav > a {
  font-size: 130%;
}

body > section {
  margin: 0.5em;
  padding-left: 0.3em;
  min-height: 100vh;
}

.filter {
  display: block;
  width: 100%;
  margin: 0.5em 0;
}

.filter input[name=q] {
  width: 80%;
}

table#texts {
  background-color: #f6fff6;
  border-collapse: collapse;
}

.text-header {
  background-color: #c8ffc8;
}

table#texts > * > tr > th,
table#texts > * > tr > td {
  padding: 0.1rem;
  vertical-align: top;
  width: 15rem;
  min-width: 5rem;
}

table#texts > thead > tr > th:nth-child(2n+1),
table#texts > tbody > tr > td:nth-child(2n+1) {
  background-color: #ecffec;
}

.lang-header, .comment-header {
  position: relative;
}

.lang-header > hr.resizer,
.comment-header > hr.resizer {
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  border-color: green;
}

thead > tr:hover .lang-header > hr.resizer,
thead > tr:hover .comment-header > hr.resizer {
  display: block;
}

.lang-header > hr.resizer:hover,
.comment-header > hr.resizer:hover,
.lang-header > hr.resizer.resizing,
.comment-header > hr.resizer.resizing {
  display: block;
  bottom: -100em;
  bottom: -100vh;
  z-index: 10001;
}

.text-header > th {
  text-align: left;
  font-weight: normal;
}

thead, tbody, tfoot,
.text-header {
  border-top: 3px green solid;
}

tbody > tr:last-child,
thead, tbody, tfoot {
  border-bottom: 3px green solid;
}

.text-header th {
  position: relative;
}

.text-header th .msgid {
  font-size: 90%;
}

.text-header th .text_id {
  font-size: 80%;
  color: gray;
}

.tags-area:not([hidden]),
.args-area:not([hidden]) {
  display: inline;
  margin: 0 0.5em;
  padding: 0;
  font-size: 90%;
}

.tags-area > strong,
.args-area > strong {
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 100%;
}

.tags-area > strong::after,
.args-area > strong::after {
  content: ": ";
}

.tags-area .tags a {
  margin-right: 0.3em;
  background: #eee;
  border-radius: 0.5em;
  border: #ccc solid 1px;
  text-decoration: none;
  padding: 0.2em 0.3em;
  color: black;
  font-size: 90%;
}

.tags-area .tags a::before {
  font-family: 'LigatureSymbols';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  content: "tag";
  margin-right: 0.3em;
}

.args-area .args {
  margin: 0;
  padding: 0;
}

.args-area .args .arg > code {
  display: inline;
  margin: 0 0 0 0.5em;
  padding: 0;
  color: purple;
}

.args-area .args .arg > .arg_desc {
  display: inline;
  margin: 0 0 0 0.3em;
  padding: 0;
}

.text-header .desc {
  display: block;
  line-height: 1.3;
  font-size: 90%;
}

.text-header .desc:empty {
  display: none;
}

.text-header th > .buttons {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
}

.text-header th > .buttons button {
}

@font-face {
  font-family: 'LigatureSymbols';
  src: url('/fonts/LigatureSymbols.woff') format('woff'),
       url('/fonts/LigatureSymbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lsf-icon::before {
  font-family: 'LigatureSymbols';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  content: attr(data-icon);
  font-size: 120%;
  margin-right: 0.3em;
  line-height: 1.0;
}

button.toggle-edit, button.edit,
button.settings,
button.close,
button.search,
a.import,
a.export,
a.share {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1em;
  border: none;
  padding: 0;
  background: transparent;
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}
.texts-lang-area-menu button.toggle-edit,
.texts-lang-area-menu button.search {
  margin: 0.1rem;
  border: solid 1px transparent;
  border-radius: 0.3rem;
  padding: 0.1rem 0.2rem;
  width: auto;
  color: inherit;
}

button.toggle-edit::before, button.edit::before,
button.settings::before,
button.close::before,
button.search::before,
a.import::before,
a.export::before,
a.share::before {
  font-family: 'LigatureSymbols';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  content: "pen";
  color: black;
}

button.settings::before { content: "setting" }
button.close::before { content: "close" }
button.search::before { content: "search" }
a.import::before { content: "in" }
a.export::before { content: "out" }
a.share::before { content: "link" }
.texts-lang-area-menu button.toggle-edit::before { content: "pen " }
.texts-lang-area-menu button.search::before { content: "search " }

button.toggle-edit.active {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.texts-lang-area-menu button.toggle-edit.active {
  border-style: inset;
  border-color: #ccc;
  background: white;
}

button.toggle-edit:hover,
button.toggle-edit:active,
button.toggle-edit:hover::before,
button.toggle-edit:active::before,
button.edit:hover,
button.edit:active,
button.edit:hover::before,
button.edit:active::before,
button.close:hover,
button.close:active,
button.close:hover::before,
button.close:active::before,
button.search:hover,
button.search:active,
button.search:hover::before,
button.search:active::before {
  text-decoration: underline;
}

html:not([data-scopes~=edit]) .lang-area button.toggle-edit {
  display: none;
}

html:not([data-scopes~=comment]) .comments-area button.toggle-edit {
  display: none;
}

html:not([data-scopes~=texts]) .text-header button.edit,
html:not([data-scopes~=texts]) table #add {
  display: none;
}

.buttons {
  margin: 0.5em 0 0;
  text-align: center;
}

.lang-area {
  position: relative;
}

.lang-area.selected {
  outline: 1px dashed green;
  outline-offset: 0;
}

.comments-area > .header {
  display: block;
  margin: 0 0 0.3em 0;
  text-indent: 0;
  font-size: 90%;
  min-height: 1em;
}

.comments-area > .header::after {
  content: "";
  clear: both;
}

.comments-area > .header > strong {
  float: left;
  font-weight: normal;
  color: gray
}

.comments-area > .header > button {
  float: right;
}

.lang-area .edit {
  display: none;
}

.lang-area.edit-mode .edit {
  display: block;
}

.lang-area .edit p,
.comments-area .edit p {
  margin: 0;
}

.lang-area .edit textarea,
.comments-area .edit textarea {
  box-sizing: content-box;
  width: 15rem;
  min-height: 10em;
  margin: 0;
  border: none;
  padding: 0.1rem;
  font-size: 90%;
  font-family: sans-serif;
  line-height: 1.4;
}

.lang-area .edit select,
.comments-area .edit select {
  width: 100%;
}

.lang-area .edit .buttons,
.comments-area .edit .buttons {
  float: right;
  margin: 0.3em 0;
  text-align: right;
  position: relative;
  z-index: 10;
}

.lang-area .edit .buttons::after,
.comments-area .edit .buttons::after {
  content: "";
  clear: both;
}

.lang-area > .view {
  margin: 0;
}

.lang-area.edit-mode > .view {
  display: none;
}

.lang-area > .view p {
  margin: 0;
  padding: 0.1rem;
  line-height: 1.4;
  font-family: sans-serif;
  font-size: 90%;
  min-height: 2rem;
  width: 15rem;
}

.selected > .lang-area > .view p {
  min-height: 5rem;
}

.comments-area article {
  display: block;
  margin: 0 0 0.3em 0;
  font-size: 90%;
  max-width: 15rem;
}

.comments-area.edit-mode article {
  margin-bottom: 0.5em;
}

.comments-area article p {
  margin: 0;
}

.comments-area article footer {
  display: none;
  font-size: 80%;
  color: gray;
  text-align: right;
}

.comments-area.edit-mode article footer {
  display: block;
}

.text-form-tabs:not([hidden]) {
  margin: 0.2em;
  padding: 0 0.2em;
  border-top: gray 1px solid;
  font-size: 80%;
  text-align: left;
}

.text-form-tabs > :not([hidden]) {
  display: inline-block;
  margin: -1px 0 0.2em 0;
  border: gray 1px;
  border-style: solid;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.2em;
  padding: 0.2em 0.3em;
  min-width: 1em;
  background: #ccc;
  color: gray;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.lang-area[data-selected-form] p[data-form] { display: none }
.lang-area[data-selected-form="0"] p[data-form="0"] { display: block }
.lang-area[data-selected-form="1"] p[data-form="1"] { display: block }
.lang-area[data-selected-form="2"] p[data-form="2"] { display: block }
.lang-area[data-selected-form="3"] p[data-form="3"] { display: block }
.lang-area[data-selected-form="4"] p[data-form="4"] { display: block }

.lang-area[data-selected-form="0"] .text-form-tabs > [data-form="0"],
.lang-area[data-selected-form="1"] .text-form-tabs > [data-form="1"],
.lang-area[data-selected-form="2"] .text-form-tabs > [data-form="2"],
.lang-area[data-selected-form="3"] .text-form-tabs > [data-form="3"],
.lang-area[data-selected-form="4"] .text-form-tabs > [data-form="4"] {
  border-top-color: transparent;
  color: black;
  background: #eee;
}

.lang-area .status:not([hidden]),
.comments-area .status:not([hidden]) {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  background: rgba(255, 255, 255, 0.8);
}

.lang-area .status progress:not([hidden]),
.comments-area .status progress:not([hidden]) {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 0.6em;
}

.lang-area .status .message:not([hidden]),
.comments-area .status .message:not([hidden]) {
  display: block;
  width: 100%;
  font-size: 80%;
  text-align: center;
}

.texts-lang-area-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  min-width: 5rem;
  margin: 0;
  padding: 0.1rem 0.3rem;
  background: #eee;
  box-shadow: #999 2px 2px;
  color: black;
  font-size: 90%;
  z-index: 100;
}

table.config > * > * > th {
  text-align: right;
  vertical-align: top;
  line-height: 1.5;
}

table.config > tbody > tr > th::after {
  margin-left: 0.1em;
  content: ":\A0";
}

table.config input {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

table#texts > tbody.status td {
  height: 10em;
  vertical-align: middle;
  text-align: center;
}

#add details {
  margin: 0.3em;
}

#add details > summary {
  margin: 0;
  font-size: 90%;
  font-weight: bolder;
  cursor: pointer;
}

#add details > summary {
  font-size: 100%;
}

#add form:not([hidden]) {
  display: table;
}

#add table.config {
  margin: 0.3em;
  min-width: 30em;
  max-width: 100%;
}

#add input[type=text] {
  min-width: 20em;
  max-width: 80%;
}

#add tr.tags-area:not([hidden]) {
  display: table-row;
  font-size: 100%;
}

#add .buttons button {
  padding: 0.3em;
  min-width: 8em;
}

.dialog:not([hidden]) {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.3);
}

.dialog > * {
  display: block;
  margin: 2em auto;
  border: 2px solid gray;
  padding: 0.5em;
  width: 50em;
  max-width: 90%;
  min-height: 10em;
  background: white;
  color: black;
  box-shadow: gray 5px 5px;
}

.dialog > section > header,
.dialog > * > .header {
  position: relative;
  margin: 0 0 0.3em 0;
  font-size: 100%;
  border-bottom: 0.1em solid;
  padding: 0 0.3em 0.3em;
}

.dialog > section > header > h1,
.dialog > * > .header > strong {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 120%;
}

.dialog > section > header > button,
.dialog > * > .header > button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 130%;
}

.dialog > * form > .buttons button {
  padding: 0.3em;
  min-width: 8em;
}

.copy-id table.config,
.share table.config {
  width: 100%;
}

.copy-id table.config th,
.share table.config th {
  width: 8em;
  vertical-align: middle;
}

.copyable {
  font-size: 150%;
  width: 100%;
  box-sizing: border-box;
  padding: 0.1em;
  font-family: monospace;
}

.config-text form > table {
  margin-left: auto;
  margin-right: auto;
}

.config-text form > table > tbody > tr > th {
  min-width: 8em;
}

.config-text input[name=text_id],
.config-text input[name=msgid],
.config-text input[name=desc] {
  width: 40em;
  max-width: 80%;
}

.config-text .tags {
  display: block;
  border: none;
}

.config-text .tags tbody,
.config-text .tags tfoot {
  display: inline;
  border: none;
}

.config-text .tags tr {
  display: inline-block;
  margin-bottom: 0.3em;
  margin-right: 0.3em;
  border: none;
  white-space: nowrap;
}

.config-text .tags th,
.config-text .tags td {
  display: inline;
  border: none;
}

.config-text .tags input {
  width: 10em;
}

.config-text .args tr th {
  min-width: 6em;
  text-align: left;
}

.config-text .args tr th + th {
  min-width: 15em;
}

.config-text input[name=arg_name] {
  width: 5rem;
}

.config-text input[name=arg_desc] {
  width: 15rem;
}

table.branches,
table.text-sets {
}

.branches th,
.branches td,
.text-sets th,
.text-sets td {
  padding: 0.3em;
}

.branches thead th,
.text-sets thead th {
  background: #c8ffc8;
  color: black;
}

.branches tbody tr,
.text-sets tbody tr {
  cursor: pointer;
}

.branches tbody tr:hover,
.text-sets tbody tr:hover {
  background-color: #ecffec;
  color: black;
}

.branches tbody th,
.text-sets tbody th {
  min-width: 10em;
  text-align: left;
  font-weight: normal;
}

.branches .default th,
.branches .default td,
.text-sets .default th,
.text-sets .default td {
  font-weight: bolder;
}

.branches .commit-message,
.text-sets .commit-message {
  display: inline-block;
  height: 1em;
  overflow: hidden;
}

#add-text-set {
  margin: 0.3em;
}

#add-text-set summary {
  font-weight: bolder;
  cursor: pointer;
}

#add-text-set p {
  margin: 0.3em;
}

#add-text-set input[name=path] {
  width: 15em;
}

.sidebar {
  position: fixed;
  display: block;
  top: 1.6em;
  left: 0;
  bottom: 0;
}

.sidebar[hidden] {
  display: block;
  width: 0.4em;
}

.sidebar[hidden] > * {
  display: none;
}

.sidebar > hr.resizer {
  position: absolute;
  top: -3em;
  bottom: 0;
  right: 0;
  width: 3px;
  border-right: 3px double gray;
}

.sidebar[hidden] > hr.resizer {
  display: block;
  left: 0;
  width: auto;
}

.sidebar > section {
  height: 100%;
  overflow: auto;
  margin-right: 3px;
}

#sidebar-search {
  padding: 0.1em;
}

#sidebar-search header {
  position: relative;
  display: block;
  margin: 0;
}

#sidebar-search h1 {
  margin: 0 0 0.1em 0;
  border-bottom: 1px solid;
  padding-bottom: 0.1em;
  font-size: 100%;
}

#sidebar-search header button {
  position: absolute;
  top: 0;
  right: 0;
}

#sidebar-search header button.close::before {
  content: "left";
}

#sidebar-search form {
  width: 100%;
}

#sidebar-search form input[name=q] {
  width: 100%;
}

#sidebar-search form button {
  display: none;
}

#sidebar-search .search-result {
  margin: 0;
  padding: 0;
  font-size: 80%;
}

#sidebar-search .search-result li {
  margin: 0.5em 0;
  border-bottom: 1px solid gray;
  padding: 0.1em;
}

#sidebar-search .search-result li p {
  margin: 0;
  line-height: 1.5;
}

#sidebar-search .search-result li .source {
  text-align: right;
  color: green;
  font-size: 90%;
}

.config-page body > section::after {
  content: "";
  display: block;
  clear: both;
}

.config-page body > section > nav {
  float: left;
  width: 8em;
  min-height: 100vh;
  margin-top: 1em;
  margin-right: 1em;
  padding: 0.5em;
  background: #eee;
}

.config-page body > section > nav > p {
  margin: 0 0 0.3em 0;
  clear: both;
}

.config-page body > section > nav > p.selected {
  font-weight: bolder;
}

.config-page body > section > nav > p > a {
  display: block;
  text-decoration: none;
  line-height: 1.5;
}

.config-page body > section > nav > p > a:hover {
  text-decoration: underline;
}

.config-page body > section > nav > p.selected > a {
  color: inherit;
}

.config-page body > section > nav > p.selected > a::after {
  content: " \25B6";
  font-size: 80%;
  float: right;
}

.config-page body > section > section {
  margin-top: 1em;
  margin-left: 10em;
}

.config-page body > section > section > header {
  display: block;
  margin: 0 0 0.3em 0;
  font-size: 100%;
  border-bottom: 0.1em solid;
  padding: 0 0.3em 0.3em;
  color: green;
}

.config-page body > section > section > header > h1 {
  margin: 0;
  padding: 0;
  font-size: 120%;
}

.repos table tbody:empty {
  display: table-cell;
  border-style: none;
  height: 3em;
}

progress {
  max-width: 95%;
}

p.help {
  text-align: right;
}

a[rel~=help] {
  font-size: 90%;
  color: gray;
}

a[rel~=help]::before {
  content: "[?] ";
}