[submodule "modules/wanage"]
	path = modules/wanage
	url = git://github.com/wakaba/wanage
[submodule "modules/charclass"]
	path = modules/charclass
	url = git://github.com/wakaba/perl-charclass
[submodule "modules/web-url"]
	path = modules/web-url
	url = git://github.com/manakai/perl-web-url
[submodule "modules/web-encodings"]
	path = modules/web-encodings
	url = git://github.com/manakai/perl-web-encodings
[submodule "modules/promise"]
	path = modules/promise
	url = git://github.com/wakaba/perl-promise
[submodule "modules/ooutils"]
	path = modules/ooutils
	url = git://github.com/wakaba/perl-ooutils
[submodule "modules/temma"]
	path = modules/temma
	url = git://github.com/wakaba/temma
[submodule "modules/web-dom"]
	path = modules/web-dom
	url = git://github.com/manakai/perl-web-dom
[submodule "modules/web-markup"]
	path = modules/web-markup
	url = git://github.com/manakai/perl-web-markup
[submodule "modules/vcutils"]
	path = modules/vcutils
	url = git://github.com/wakaba/perl-vcutils
[submodule "modules/json-ps"]
	path = modules/json-ps
	url = git://github.com/wakaba/perl-json-ps
[submodule "modules/popopo"]
	path = modules/popopo
	url = git://github.com/wakaba/perl-popopo
[submodule "modules/web-ua"]
	path = modules/web-ua
	url = git://github.com/wakaba/perl-web-useragent-functions
[submodule "modules/promised-command"]
	path = modules/promised-command
	url = git://github.com/wakaba/perl-promised-command
[submodule "t_deps/modules/promised-docker-webdriver"]
	path = t_deps/modules/promised-docker-webdriver
	url = git://github.com/wakaba/perl-promised-docker-webdriver
[submodule "t_deps/modules/promised-plackup"]
	path = t_deps/modules/promised-plackup
	url = git://github.com/wakaba/perl-promised-plackup
[submodule "modules/web-datetime"]
	path = modules/web-datetime
	url = git://github.com/manakai/perl-web-datetime
[submodule "modules/dongry"]
	path = modules/dongry
	url = git://github.com/wakaba/dongry
[submodule "modules/anyevent-mysql-client"]
	path = modules/anyevent-mysql-client
	url = git://github.com/wakaba/perl-anyevent-mysql-client
[submodule "modules/promised-file"]
	path = modules/promised-file
	url = git://github.com/wakaba/perl-promised-file
[submodule "t_deps/modules/promised-mysqld"]
	path = t_deps/modules/promised-mysqld
	url = git://github.com/wakaba/perl-promised-mysqld
